*{
    margin:0px;
    padding: 0px;;
}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left ,#fff 80%,#c3f5ff 20%);
}
.nevigation{
    display: flex;
    width:100%;
    height: 20vh;
    justify-content:  space-around;
    align-items: center;
    background-image: linear-gradient(to top, #fff 80%,#c3f5ff 20%);
}
.logo{
    width:40%;
    color: white;
    background-image: linear-gradient(red 80% ,black 20%);
    padding-left: 100px;
    box-sizing: border-box;
}
.logo h1{
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: agp 2s linear infinite;
    animation-direction: alternate;
}
@keyframes agp{
    from{ padding-left: 40px;}
    to {padding-right: 40px;}
}

nav{
    width:60%;
    justify-content: space-around;
    display: flex;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    font-size: 17px;
    position: relative;

}
nav a:first-child{
    color: blu e;
}
nav a::before{
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width:0;
    height: 2px;
    border-bottom: 2px solid black;
    transition: all 0.4s linear;

}
nav a:hover::before{
    width: 100%;

}
main{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightside{
    height: 200px;
    width:300px;
    
    border:2px solid  ;
    display: inline;
}

.leftside{
    color: black;
    text-transform: uppercase;

}
.leftside h1{
    font-size: 20px;
    margin-bottom: 20px;
    position: relative;
}
.leftside h1:after{
    content: "";
    width: 450px;
    height: 3px;
    position: absolute;
    top:42%;
    left: 15%;
    background: black;

}
.leftside h2{
    font-size: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
    word-spacing: 4px;
}
.leftside a{
    text-decoration: none;
    border:2px solid black;
    justify-content: space-around;
    margin-right: 5px;
    padding:12px 15px;
    display: inline;
    background-color: turquoise;
    color: black;
}
.leftside a:hover{
   text-decoration: underline;
   background-color: blue;
   transition: 1s;
   color: whitesmoke;
}
form{
    margin-top: 10px;
    align-items: center;
    padding: 40px;
    display: inline;
} 
form input{
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
}